<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Babble</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="navbar">
    <img src="https://www.pngkey.com/png/detail/578-5785406_fully-translated-and-localized-surveys-and-survey-tool.png"
      alt="Fully Translated And Localized Surveys And Survey Tool - World Flags Globe@pngkey.com" class="globe">
    <h1>Travel Babble</h1>
    <nav>
      <ul>
        <li><a href="/trips">Public Trips</a></li>
        <li><a href="/mytrips">View My Trips</a></li>
        <li><a href="/plan">Plan A Trip</a></li>
        {{#if logged_in}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>

  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
  </footer>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>