<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Planner</title>
  <link rel="stylesheet" href="/css/style.css">
  <style>
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      background-color: #f0f0f0;
    }
    .globe {
      width: 80px; /* Adjust the width here to make the globe bigger */
      height: auto;
      animation: spin 8s linear infinite; /* Animation for spinning */
    }
    @keyframes spin {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }
    .navbar ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .navbar li {
      margin-right: 20px;
    }
    .navbar li:last-child {
      margin-right: 0;
    }
    .navbar a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <header class="navbar">
 <img src="https://www.pngkey.com/png/detail/578-5785406_fully-translated-and-localized-surveys-and-survey-tool.png" alt="Fully Translated And Localized Surveys And Survey Tool - World Flags Globe@pngkey.com" class="globe">
    <h1>Travel Planner</h1>
    <nav>
      <ul>
        <li><a href="/trips">Public Trips</a></li>
        <li><a href="/mytrips">View My Trips</a></li>
        {{#if logged_in}}
          <button class="no-button" id="logout">logout</button>
        {{else}}
          <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
  </footer>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>