<div class="py-24 sm:py-32">
        <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
            <div class="max-w-2xl">
                <h2 class="text-white text-3xl font-bold tracking-tight y-900">Meet Our Development Team!</h2>
                <p class="mt-6 text-white leading-8 text-white y-600">This team worked together to conceptualize this application, from framework to fully functional website utilizing API calls and JavaScript programming implemented into a well-designed outline created through HTML and CSS.
                </p>
            </div>
            <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
                <li>
                    <div class="" id="devImage1">
                        <img class="h-36 rounded-full" src='assets/20240115_145513.jpg' alt="">
                        <div>
                            <h3 class="text-white font-semibold leading-7 tracking-tight text-white y-900">Michael Davidson
                            </h3>
                            <p class="text-amber-400 font-semibold leading-6 igo-600">JavaScript / API Dev</p>
                            <a class ="text-purple-300 font-semibold leading-6 igo-600" href="https://msteven5.github.io/Professional-Portfolio/">Dev Portfolio</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="" id="devImage2">
                        <img class="h-36 rounded-full" src="assets/C1412C49-91DD-4DBE-8E6E-707FA3A10308.jpeg" alt="">
                        <div>
                            <h3 class="text-white font-semibold leading-7 tracking-tight text-white y-900">Eric Reyna
                            </h3>
                            <p class="text-amber-400 font-semibold leading-6 igo-600">HTML / JavaScript Dev</p>
                            <a class="text-purple-300 font-semibold leading-6 igo-600" href="https://ereyna21.github.io/My-Portfolio/">Dev Portfolio</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="" id="devImage3">
                        <img class="h-36 rounded-full" src="assets/IMG_2335.jpg" alt="">
                        <div>
                            <h3 class="text-white font-semibold leading-7 tracking-tight text-white y-900">John Dennis
                            </h3>
                            <p class="text-amber-400 font-semibold leading-6 igo-600">CSS / Bulma Dev</p>
                            <a class="text-purple-300 font-semibold leading-6 igo-600" href="https://johndennis2.github.io/johndennisportfolio/">Dev Portfolio</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="" id="devImage4">
                        <img class="h-36 rounded-full" src="assets/IMG_7844.jpg" alt="">
                        <div>
                            <h3 class="text-white font-semibold leading-7 tracking-tight text-white y-900">Jake Smith
                            </h3>
                            <p class="text-amber-400 font-semibold leading-6 igo-600">JavaScript/ API Dev</p>
                            <a class="text-purple-300 font-semibold leading-6 igo-600" href="https://jakeshmith.github.io/jake-smith-portfolio/">Dev Portfolio</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
