<div id="Plan-trip">
  <h2>Plan a Trip</h2>
  {{#if loggedIn}}
  <form class="plan">
    <section class="destination">
      <p>Where are you headed?</p>
      <input type="text" id="destination" placeholder="Destination (Required)">
    </section>
    <section class="user-details">
      <p>Choose a date for your trip:</p>
      <input type="text" id="trip-date" placeholder="Enter Date MM/DD/YYYY">
      <button id="calendar-button">Pick Date</button>
    </section>
    <section class="plan-details">
      <p>Length of stay</p>
      <input type="text" id="stay-length" placeholder="Duration of Trip (in days)">
      </select>
    </section>
    <section class="description">
      <p>Description</p>
      <!-- Add activities dropdown here -->
      <input type="text" id="trip-desc" name="trip-desc" placeholder="Enter a short description of your trip"></input>
      <!-- Add more activity options as needed -->
      </select>
    </section>
    <section class="accommodations">
      <p>Plan Accommodations</p>
      <!-- Add accommodations dropdown here -->
      <select id="accommodation">
        <option value="Hotel">Hotel</option>
        <option value="accommodation2">AirBnB</option>
        <option value="accommodation3">Camping</option>
        <option value="accommodation4">RV</option>
        <option value="accommodation5">Other</option>
        <!-- Add more accommodation options as needed -->
      </select>
    </section>
    {{!-- <section class="public">
      <p>Set trip to private? Set to public on by default</p>
      <select id="privacy">
        <option value="private">Yes, set this trip to private</option>
        <option value="public">No, keep this trip public</option>
      </select>
    </section> --}}
    <button id="submit-trip">Add to My Trips!</button>
  </form>
  {{else}}
  <a href="/login">You must login first to view this page</a>
  {{/if}}
</div>
<script src="/js/submittrip.js"></script>