<script id="my-template" type="text/x-handlebars-template">
  {{#if loggedIn}}
    <p>Choose a date for your trip:</p>
    <input type="text" id="trip-date" placeholder="Select Date">
    <button id="calendar-button">Pick Date</button>
    
    <p>Length of stay with map</p>
    <select>
      <option>Choose activities</option>
    </select>
    <select>
      <option>Accommodations</option>
    </select>
  {{else}}
    <a href="/login">You must login first to view this page</a>
  {{/if}}
</script>