<div id="trip-info">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#hotel">Hotel</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#activity">Activity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#dates">Dates</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#user-info">User Info</a>
    </li>
  </ul>
  <div class="tab-content">
    <div id="hotel" class="tab-pane fade show active">
      <!-- Hotel content goes here -->
    </div>
    <div id="activity" class="tab-pane fade">
      <!-- Activity content goes here -->
    </div>
    <div id="dates" class="tab-pane fade">
      <!-- Dates content goes here -->
    </div>
    <div id="user-info" class="tab-pane fade">
      <!-- User info content goes here -->
    </div>
  </div>
</div>